<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_drone_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,498},{124,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,332},{130,76}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,44},{130,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,666},{92,88}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{92,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,390},{102,88}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{102,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{114,88}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{114,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,484},{126,84}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{126,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,244},{132,80}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{132,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{134,78}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{134,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{134,76}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{134,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,406},{130,76}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{130,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,574},{124,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,326},{130,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{130,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,166},{134,76}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,45},{134,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{134,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,82}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{134,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,166},{132,82}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{132,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{126,86}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{126,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,480},{114,92}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{114,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,194},{102,96}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{102,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{94,100}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{94,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{92,100}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{92,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,98},{94,100}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{94,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,292},{102,96}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{102,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,86},{134,78}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{134,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,570},{114,92}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{114,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,410},{126,86}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{126,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{132,82}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{132,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,82}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{134,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,84},{134,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{134,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{130,78}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{130,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,250},{132,80}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{132,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{126,84}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{126,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,576},{114,88}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{114,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,664},{102,88}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{102,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,652},{94,88}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{94,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,754},{92,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{92,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_drone_1_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69bd9e876f893e3727c52ceeaf0be658:58c18cf67f73d7874e3d6ba46c2809e5:ca2b6a86d3053880ec85677e30685c6f$</string>
            <key>textureFileName</key>
            <string>attack_drone_1_1.png</string>
        </dict>
    </dict>
</plist>
