<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,328}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{233,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{233,232}}</string>
                <key>sourceSize</key>
                <string>{233,234}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,332},{233,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{233,232}}</string>
                <key>sourceSize</key>
                <string>{233,234}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{233,232}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,232}}</string>
                <key>sourceSize</key>
                <string>{233,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>A-1-2.pvr.gz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce45386c8570b2ad1f5b809bde9fbe32:dcde85a1657684c61cff7fa7efa3fb4a:15c4e01b52ce8756e9a4a044bebed815$</string>
            <key>textureFileName</key>
            <string>A-1-2.pvr.gz</string>
        </dict>
    </dict>
</plist>
