<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_drone_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{128,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{130,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,592},{102,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{102,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,186},{112,72}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{112,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,516},{120,74}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{120,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{124,76}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,404},{124,78}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{124,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,166},{128,78}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{128,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,84},{128,80}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{130,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,162},{128,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{130,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{128,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{128,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,244},{128,78}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{128,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,324},{128,76}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{128,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{124,76}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{124,82}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{124,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,428},{120,86}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{120,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,90}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{112,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,334},{102,92}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{102,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{100,94}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{100,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,640},{100,92}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{100,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,94},{112,90}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{112,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,246},{128,78}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{128,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{120,86}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{120,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,402},{124,82}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{124,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,486},{124,76}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,326},{128,76}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{128,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{128,78}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{128,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,82},{130,78}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{130,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{124,78}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{124,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,562},{124,76}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{124,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,564},{120,74}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{120,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,260},{112,72}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{112,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,640},{102,74}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{102,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_drone_3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,716},{100,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{100,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack_drone_3_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765dd3a1cc6965a36d9d07797f989461:b93e3c2cdedc4a83caadbff53910af0c:d189b52d9ae4825dc34d23a4359a06ec$</string>
            <key>textureFileName</key>
            <string>attack_drone_3_1.png</string>
        </dict>
    </dict>
</plist>
